@font-face {
  font-family: 'Klartext Mono Light';
  font-style: normal;
  font-weight: 400;
  src: local('Klartext Mono Light'), url(KlartextMonoLight.woff2) format('woff2');
}

:root {
  --color-highlight: #7e4d70;
  --color-bg: #fafafa;
}

html,
body {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 0;
  color: #404040;
  font-family: 'Klartext Mono Light';
  font-weight: 400;
  font-size: 18px;
  overflow: scroll;
  text-align: center;
  background-color: var(--color-bg);
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
  -webkit-tap-highlight-color: none;
  tap-highlight-color: none;
}

footer, section, div, button, input, .button {
  display: block;
  margin: 1em;
  padding: 0;
  outline: none;
  white-space: pre-line;
  border: none;
  overflow: hidden;
  font-family: 'Klartext Mono Light';
  font-weight: 400;
  font-size: 18px;
  text-align: left;
}

section {
  margin-bottom: 3em;
}

div {
  display: block;
  margin: 0;
  animation: opacity 0.3s ease-out;
}

a, p {
  margin: 0 auto;
  line-height: 1.7;
  font-size: 1em;
  text-align: left;
  white-space: pre-wrap;
  word-break: break-word;
  text-decoration: none;
  color: #404040;
}

a {
  color: var(--color-highlight);
}

p, h1, h2, h3 {
  display: block;
  font-weight: 400;
  padding: 0 0.3em;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  background-color: rgba(250, 250, 250, 0.8);
}

p.sub, p.heading, h1 {
  color: var(--color-highlight);
  border-bottom: 1px solid var(--color-highlight);
}

p.heading, h1 {
  font-size: 1.3em;
  line-height: 1.7;
}

article {
  margin: 2em 0;
}

img {
  display: block;
  max-width: 100%;
}

button, input, div, .button {
  border-color: var(--color-highlight);
}

input {
  min-width: 23em;
  max-width: 100%;
  margin: 1em 0;
  padding: 0.3em;
  border-bottom: 3px solid;
  border-color: inherit;
  background: none;
}

div.berry {
  width: 84px;
  height: 84px;
  margin: 1em;
  background-image: url('berry.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 64px;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-name: rotate;
  animation-timing-function: ease-out;
  animation-direction: alternate-reverse;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  transform: rotateZ(6deg);
  -webkit-backface-visibility: hidden;
}

div.sec {
  display: inline-block;
  animation-name: rotateTwo;
  transform: rotateZ(-6deg);
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0 0.3em;
  background-color: var(--color-bg);
}

footer > .wrapper > a {
  display: block;
}

footer > .wrapper > a > img {
  display: inline-block;
}

@keyframes opacity {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1.0;
  }
}

@keyframes rotate {
  from {
    transform: rotateZ(6deg);
  }
  to {
    transform: rotateZ(-6deg);
  }
}

@keyframes rotateTwo {
  from {
    transform: rotateZ(-6deg);
  }
  to {
    transform: rotateZ(6deg);
  }
}

@keyframes jumpIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes blink {
  from {
    max-height: 0em;
    transform: rotateY(90deg);
  }
  to {
    max-height: 50em;
    transform: rotateY(0deg);
  }
}

.wrapper {
  margin: 0 auto;
  width: 49em;
  max-width: 100%;
}

.flow, button, .button {
  margin: 1em;
  animation: jumpIn 1s;
}

button, .button {
  display: inline-block;
  min-width: 6em;
  max-width: 29em;
  max-height: max-content;
  margin: 1em .3em;
  padding: .7em;
  line-height: 1;
  text-align: center;
  border: 1px solid;
  border-color: inherit;
  border-radius: 0.3em;
  vertical-align: bottom;
  white-space: pre-wrap;
  cursor: pointer;
  background: none;
}

.button:hover,
.button:focus,
.button:active {
}

.error {
  color: #eb4d62;
}
